html {
  scroll-behavior: smooth;
}

body {
  background-color: #090B0C;
  color: #ECDFCC;
}
h1 {
  color: #333A3B;
}
h2{
  color: #6A6F71;
}
h3{
  color: #9A9DA0;
}
a {
  color: #A6E1FA;
}
strong {
  color: #A6E1FA;
}

table {
    width: 100%;
    border-collapse: collapse;
}
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 50%;
    text-align: left;
}
  th {
    background-color: #333A3B;
}
